[Unit]
Description=Solirom UUID service
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=angel
Group=angel
WorkingDirectory=/home/angel/solirom-uuid/
ExecStart=/home/angel/solirom-uuid/solirom-uuid
Restart=always

[Install]
WantedBy=multi-user.target
