[Unit]
Description=Solirom UUID service
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple
User=claudius
Group=claudius
WorkingDirectory=/home/claudius/services/solirom-uuid/
ExecStart=/home/claudius/services/solirom-uuid/solirom-uuid
Restart=always

[Install]
WantedBy=multi-user.target
